@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Syncopate:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(16,55,134);
    min-height: 1000px;
    background: linear-gradient(92deg, rgba(16,55,134,0.7261056286549707) 0%, rgba(159,246,9,1) 72%);
}

/* ------------------ LandingPage ------------------ */
.landing-header {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 350px;
    background-color: black;
    color: greenyellow;
    
}
.landing-header h2 {
    position: absolute;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    top: 15%;
    text-align: center;
}
.below-header {
    display: flex;
    margin-top: 70px;
}
.loggedinsuccess {
    position: absolute;
    top: 250px;
    left: 305px;
    color: rgb(20, 199, 4);
}

/* ------------------- Insurance Card --------------*/
.pack-card {
    text-align: center;
    color: rgb(11, 13, 15);
}
.pack-card h2 {
    margin: 25px 0;
    font-size: 2em;
}

/* ----------------- Signup Form -----------------*/
.signupform {
    text-align: center;
    margin-top: 65px;
    
}
.signupform h2 {
    margin: 25px 0;
}
.signupinput {
    margin-top: 50px;
}
.signuplink {
    color: rgb(159, 246, 9);
    text-decoration: none;
    border: 2px solid greenyellow;
    border-radius: 28px;
    padding: 15px 20px;
    margin-left: 15px;
}
.signuplink:hover {
    background-color: rgb(159, 246, 9);
    color: black;
}
.signupbtn {
    color: black;
    text-decoration: none;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 28px;
    padding: 15px 20px;
    margin-left: 15px;
    background-color: rgb(159, 246, 9);
}
.signupclick {
    margin-top: 45px;
    padding: 15px 0;
    width: 100px;
    color: rgb(165, 236, 24);
    background-color: rgb(4, 4, 195);
    font-size: 1em;
    cursor: pointer;
    border-style: hidden;
}
.signupclick:active {
    transform: scale(0.95);
}
.hi-signup {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 700;
}


/* ---------------- Placeholder ----------------- */
::placeholder {
    color: rgb(19, 19, 19);
    background-color: rgb(159, 246, 9);
    text-align: center;
    font-size: 1.3em;
}
.logininput:focus {
    text-align: center;
}
.loginbtn {
    width: 70px;
    margin-left: 15px;
    color: rgb(165, 236, 24);
    background-color: rgb(4, 4, 195);
    font-size: 1em;
    cursor: pointer;
}
.loginbtn:active {
    transform: scale(0.95);
}
.logoutbtn {
    width: 70px;
    color: rgb(159, 246, 9);
    background-color: red;
    font-size: 1em;
    cursor: pointer;
}
.logoutbtn:active {
    transform: scale(0.95);
}

/* ------------- Pack Card ------------------- */
.packs {
    width: 400px;
    margin: 0 auto;
    border: 2px solid rgb(23, 39, 1);
    border-radius: 19px;
    color: rgb(0, 5, 9);
    margin-bottom: 10px;
    /* cursor: pointer; */
    padding: 20px;
}

.packs button {
    margin-top: 8.5px;
    padding: 10px;
    border: none;
    border-radius: 30%;
    font-size: 1em;
    background-color: rgb(4,4,195);
    color: aliceblue;
    cursor: pointer;
}
.buybtn:active {
    transform: scale(0.90);
}
.pack-card {
    margin-bottom: 130px;
}

/* ------------- Introduction ------------------- */
.introduction1, .introduction2, .introduction3, .introduction4, .introduction5 {
    background: rgb(234,236,230);
    border: 2px solid rgb(4, 4, 195);
    border-radius: 24px;
    max-width: 900px;
    margin: 50px auto;
    text-align: start;
    
}
.mainintro {
    margin-top: 30px;
    margin-bottom: 140px;
}
.introduction1 h2, .introduction2 h2, .introduction3 h2, .introduction4 h2, .introduction5 h2 {
    margin: 25px 0;
    text-align: center;
}
.diseasebullet {
    text-align: start;
    padding-left: 30%;
}
.introduction .center {
    text-align: center;
}
.introduction1 p, .introduction2 p, .introduction3 p, .introduction4 p, .introduction5 p {
    font-size: larger;
    margin-bottom: 25px;
    padding: 0 27px;
}
.introduction1 ul, .introduction2 ul, .introduction3 ul, .introduction4 ul, .introduction5 ul {
    font-size: larger;
}
.second-p {
    margin-top: 25px;
    margin-bottom: 17px;
}
.center p {
    margin: 30px 0;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    /* max-width: 100px; */
    
}
span:before {
    content: "\a";
    white-space: pre;
}

/* --------------------- User Profile------------------------ */
.userprofile {
    position: relative;
    max-width: 530px;
    padding: 20px;
    /* background-color: antiquewhite; */
    
    margin: 0 auto;
}
.userprofile h2 {
    text-align: center;
    margin-bottom: 20px;
}
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 20px;
}
.wrapper .box {
    max-width: 500px;
    position: relative;
    padding: 10px;
    margin: 0 auto;
}
.wrapper .box input {
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(29, 81, 213);
    transition: 0.5s linear;
    background: transparent;
}
.wrapper .box input:focus,
.wrapper.box input:valid {
    padding: 12px 10px;
    background-color: rgb(29, 81, 213);
    margin-top: 20px;
}
.wrapper .box label {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    top: 0;
    left: 9px;
    color: rgb(8, 8, 8);
    
}
.userprofile button {
    position: absolute;
    width: 70px;
    left: 50%;
}

/* --------------------- FooterPage ------------------------- */

.parentfooter {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer {
    position: fixed;
    margin-top: 45px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 35px 0;
    bottom: 0;
    width: 100%;
}

/* ---------------------- Respondsive design------------------ */
@media(max-width: 900px) {
    .below-header {
        display: grid;
        grid-template-columns: auto;
        margin-top: 24%;
    }
    .landing-header {
        height: 580px;
    }
    .landing-header h2 {
        font-size: 1.5em;
        top: 12%;
    }
    .signuplink {
        margin: 6px 0;
    }
    .logininput {
        margin-bottom: 6px;
        height: 25px;
        
    }
    .loginbtn {
        margin: 5px 0 14px 0;
        height: 35px;
    }
    .signupinput {
        max-width: 200px;
        display: grid;
        grid-template-columns: 200px;
        margin: 0 auto;
        align-items: center;
    }
    .signupbtn {
        margin: 5px 0;
    }
    .signupform {
        min-height: 600px;
    }
    .loggedinsuccess {
        position: absolute;
        top: 0;
        right: 0;
    }
    .wrapper {
        grid-template-columns: 250px;
    }
}