@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(159, 246, 9);
}
.landing-header {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 400px;
    background-color: black;
    color: greenyellow;
}
.landing-header h2 {
    position: absolute;
    font-size: 1.5em;
    font-family: 'Syncopate', sans-serif;
    top: 20%;
    text-align: center;
}
.signuplink {
    margin-left: 15px;
}
/* Insurance Card */
.pack-card {
    text-align: center;
}

.signupform {
    text-align: center;
}