@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.landing-header {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 700px;
    background-color: black;
    color: greenyellow;
}
.landing-header h2 {
    position: absolute;
    font-size: 4em;
    font-family: 'Syncopate', sans-serif;
    top: 200px;
    text-align: center;
}